<footer role="contentinfo">
  <div class="wrapper">
    <div class="footer-logo">
      <img alt="Brian Tofte-Schumacher" src="images/me-twitter-profile.jpg"/>
    </div>

    <div class="footer-quote">
      <p>&ldquo;If you have come here to help me, you are wasting our time. But if you have come because your liberation is bound up with mine, then let us work together.&rdquo;<br/>
        <span class="attribution">&mdash;Aboriginal activists group, Queensland, 1970s</span>
      </p>
    </div>

    <div class="footer-secondary-links">
      <ul class="footer-social">
        <li>
          <span class="fa-stack fa-lg">
            <span class="fa fa-circle fa-stack-2x"></span>
            <a href="https://facebook.com/briants">
              <span class="fa fa-facebook fa-stack-1x"></span>
            </a>
          </span>
        </li>
        <li>
          <span class="fa-stack fa-lg">
            <span class="fa fa-circle fa-stack-2x"></span>
            <a href="https://twitter.com/briantschu">
              <span class="fa fa-twitter fa-stack-1x"></span>
            </a>
          </span>
        </li>
        <li>
          <span class="fa-stack fa-lg">
            <span class="fa fa-circle fa-stack-2x"></span>
            <a href="https://linkedin.com/in/briants">
              <span class="fa fa-linkedin fa-stack-1x"></span>
            </a>
          </span>
        </li>
        <li>
          <span class="fa-stack fa-lg">
            <span class="fa fa-circle fa-stack-2x"></span>
            <a href="https://github.com/briantschu">
              <span class="fa fa-github fa-stack-1x"></span>
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</footer>
