<div id="nav">
  <section id="name">
    <div class="wrapper">
      <div class="content">
        <h1>Brian Tofte-Schumacher</h1>
      </div>
    </div>
  </section>
  <section id="nav-circles">
    <div class="wrapper">
      <div class="content">
        <div id="nav-web">
          <svg class="nav-circle" height="100%" version="1.1" viewBox="0 0 200 200" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g id="nav-web-group">
              <circle cx="100" cy="100" fill="#F44336" id="web-circle" r="100"></circle>
              <text fill="#FFFFFF" font-family="Open Sans" font-size="30" font-weight="bold" transform="translate(100)" y="90">
                <tspan text-anchor="middle" x="0">Web</tspan>
                <tspan dy="36" text-anchor="middle" x="0">Developer</tspan>
              </text>
            </g>
          </svg>
        </div>
        <div id="nav-activist">
          <svg class="nav-circle" height="100%" version="1.1" viewBox="0 0 200 200" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g id="nav-activist-group">
              <circle cx="100" cy="100" fill="#FFC107" id="activist-circle" r="100"></circle>
              <text fill="#FFFFFF" font-family="Open Sans" font-size="30" font-weight="bold" transform="translate(100)" y="109">
                <tspan text-anchor="middle" x="0">Activist</tspan>
              </text>
            </g>
          </svg>
        </div>
        <div id="nav-digital">
          <svg class="nav-circle" height="100%" version="1.1" viewBox="0 0 200 200" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g id="nav-digital-group">
              <circle cx="100" cy="100" fill="#8BC34A" id="digital-circle" r="100"></circle>
              <text fill="#FFFFFF" font-family="Open Sans" font-size="30" font-weight="bold" transform="translate(100)" y="90">
                <tspan text-anchor="middle" x="0">Digital</tspan>
                <tspan dy="36" text-anchor="middle" x="0">Strategist</tspan>
              </text>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </section>
  <section id="collaborate">
    <div class="wrapper">
      <div class="content">
        <p><a href="#contact">Want to get in touch?</a></p>
      </div>
    </div>
  </section>
</div>
