
<div id="herobg"></div>
<div id="hero">
  <section id="intro">
    <div class="wrapper">
      <h1>Brian Tofte-Schumacher</h1>
    </div>
  </section>
  <section id="circles">
    <div class="wrapper" style="position:relative;padding:0;">
      <div class="content">
        <div id="web">
          <svg class="circle" height="100%" version="1.1" viewBox="0 0 200 200" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g id="web-group">
              <circle cx="100" cy="100" fill="#F44336" id="web-circle" r="100"></circle>
              <text fill="#FFFFFF" font-family="Open Sans" font-size="30" font-weight="bold" transform="translate(100)" y="90">
                <tspan text-anchor="middle" x="0">Web</tspan>
                <tspan dy="36" text-anchor="middle" x="0">Developer</tspan>
              </text>
            </g>
          </svg>
        </div>
        <div id="activist">
          <svg class="circle" height="100%" version="1.1" viewBox="0 0 200 200" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g id="activist-group">
              <circle cx="100" cy="100" fill="#FFC107" id="activist-circle" r="100"></circle>
              <text fill="#FFFFFF" font-family="Open Sans" font-size="30" font-weight="bold" transform="translate(100)" y="109">
                <tspan text-anchor="middle" x="0">Activist</tspan>
              </text>
            </g>
          </svg>
        </div>
        <div id="digital">
          <svg class="circle" height="100%" version="1.1" viewBox="0 0 200 200" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g id="digital-group">
              <circle cx="100" cy="100" fill="#8BC34A" id="digital-circle" r="100"></circle>
              <text fill="#FFFFFF" font-family="Open Sans" font-size="30" font-weight="bold" transform="translate(100)" y="90">
                <tspan text-anchor="middle" x="0">Digital</tspan>
                <tspan dy="36" text-anchor="middle" x="0">Strategist</tspan>
              </text>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </section>
  <section id="tagline">
    <div class="wrapper">
      <h2>A nerd working for liberation.</h2>
    </div>
  </section>
</div>
