<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/stickyfill.min.js"></script>
<script src="js/skrollr.stylesheets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>

<script type="text/javascript">
  var heroh = $('#hero').css("height");
  var viewporth = $(window).height();
  $('#hero').height(heroh);
  $('#herobg').height(viewporth);

  if(!(/Android|iPhone|iPad|iPod|BlackBerry|RIM Tablet|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
            skrollr.init({
             forceHeight:false
           });
  };

</script>
